body {
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin: 20px 0;
}

.content-section {
    margin: 20px;
}

.content-section img {
    max-width: 100%;
    height: auto;
}

.section-title {
    margin-top: 40px;
    font-weight: bold;
}

.image-container {
    padding: 15px;
}

.image-container img {
    border-radius: 10px; /* Adds rounded corners to images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between the images */
    margin-top: 20px;
}

.image-row img {
    max-width: 100%; /* Ensures images are responsive */
    height: 500px; /* Maintains aspect ratio */
    width: auto; /* Sets a fixed width for all images */
    border-radius: 10px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 24px;
    line-height: 2;
    color: #333;
    text-align: justify;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #007BFF;
    border-radius: 8px;
}

li {
    font-size: 24px;
}

#custom-img {
    height: 300px;
    width: auto;
}

#result-img {
    height: 300px;
    width: auto;
}